---
import PlayButtonIcon from "@/assets/play-button.svg";
---

<div class="flex justify-center items-center absolute inset-0 m-auto">
  <button class="cursor-pointer">
    <!-- backdrop para ponerle fondo, y rounded para quitarle el alrededor -->
    <PlayButtonIcon
      id="hero-play-button"
      class="text-white size-32 mt-10 backdrop-blur-3xl rounded-full hover:scale-110 transition-transform duration-500"
    />
  </button>
</div>