---
import KeepScrolling from "@/assets/keep-scrolling.svg"
import "@/styles/global.css";
---
<!--Layout.astro lo común a todas las páginas -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio AuroraHV</title>
	</head>
	<body>
		<!-- hola (saldría encima de lo que pone en index.astro) -->

		<!-- layout (index.astro) = slot, todo lo que salga aquí
		 es un layout del index.astro donde se indica cuantas veces se repetirá -->
		<slot />
		<!--Para que esté en toda la página -->
		<KeepScrolling class="fixed bottom-3 right-0 left-0 mx-auto text-pink-300 drop-shadow-2xl animate-bounce-pulse"/>
	</body>
</html>